#card-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#card {
    width: 40vh;
    height: 70vh;
    margin-top: 15vh;
    z-index: 0;
}

#card-front {
    padding: 5vh 5vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-front h1 {
    font-size: 2.5em;
}

#card-front h2 {
    font-size: 1.5em;
    margin: 0;
}

#card-back {
    padding: 1em;
}

#card-back h2 {
    margin: 0;
}