nav a {
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    /* Make the markers disappear */
    list-style-type: none;
    padding: 0;
    border: none;
}

nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    padding-right: 1em;
}

/* These two lines make the checkbox and the label disappear when we are in desktop mode. */
nav input[type="checkbox"],
nav label {
    display: none;
}

section.primary{
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}

/*family tree styling*/

ul.no-left-border li{
    list-style:none;
    line-height: 1.7em;
}

/*resources styling*/

section.links{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;

}


/* This start to get interesting: we go into mobile phone mode */
@media (max-width: 576px) {
    section.links{
        display:inline;
    }
    /* Here is the magic: if the checkbox is not marked, the adjacent list is not displayed */
    nav input[type="checkbox"]:not(:checked)+ul {
        display: none;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    /* Stlying the menu icon, the checkbox stays hidden */
    nav label {
        text-align: right;
        display: flex;
        align-items: center;
    }

    /* Because we are in mobile mode, we want to display it as a vertical list */
    nav ul {
        display: block;
    }

    /* We have two lists: the first one are the always visibile items in the 
      menu bar. The second one is the one that will be hidden */
    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }

    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding-bottom: 1em;
    }
}
