
img {
    width: 30%;
    height: 100%;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.position p {
    margin: 0;
    text-align: center;
}